[Unit]
Description=agentcage mitmproxy
Requires={{ name }}-dns.service
After={{ name }}-dns.service

[Container]
ContainerName={{ name }}-proxy
Image=localhost/agentcage-proxy
Network={{ name }}-net.network:ip=10.89.0.11
Network=podman
{% for srv in dns_servers %}
DNS={{ srv }}
{% endfor %}
Volume={{ config_host_path }}:/etc/agentcage/config.yaml:ro,Z
Volume={{ name }}-certs.volume:/home/mitmproxy/.mitmproxy:Z
Exec=mitmdump -s /app/addon.py --listen-port 8080 --set connection_strategy=lazy --listen-host 10.89.0.11{% if not log_proxy_connections %} --quiet{% endif %}

{% for secret in proxy_secrets %}
{% if deploy_name %}
Secret={{ deploy_name }}.{{ secret }},type=env,target={{ secret }}
{% else %}
Secret={{ secret }},type=env
{% endif %}
{% endfor %}

[Service]
ExecStartPost=/usr/bin/podman exec --user root {{ name }}-proxy sh -c "printf '{% for srv in dns_servers %}nameserver {{ srv }}\n{% endfor %}' > /etc/resolv.conf"
Restart=on-failure

[Install]
WantedBy=default.target
